# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# Android
*.iml
.idea/
local.properties
.externalNativeBuild
.cxx
captures/

# iOS
ios/
iosApp/iosApp.xcworkspace/xcuserdata/
iosApp/iosApp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
iosApp/Configuration/Config.xcconfig

# Kotlin/JS
node_modules/

# General
.DS_Store
*.log
*.tmp
*.temp

# SQLDelight
*.db
*.db-shm
*.db-wal
